* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.container {
  width: 87%;
  margin: auto;
  overflow: hidden;
}
/*  */
label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  float: right;
}
#toggle {
  display: none;
}
/*  */

/* SECTION 1 */
.sec_1 {
  background-image: url(/loopimages/image-hero.jpg);
}
.topdiv1 {
  display: flex;
  color: white;
}
.topdiv1 h2 {
  padding-top: 20px;
}
.topdiv1 nav {
  margin-left: 500px;
}
.topdiv1 a {
  text-decoration: none;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  /*  */
  clear: right;
  text-decoration: none;
  margin: 0 10px;
  line-height: 70px;
  /*  */
}
.bottomdiv1 {
  border: 2px solid white;
  color: white;
  width: 45%;
  font-size: 40px;
  padding-left: 30px;
  padding-right: 20px;
  margin-top: 150px;
  margin-bottom: 100px;
}
/* SECTION 2 */
.section2 {
  display: flex;
  margin-top: 45px;
  margin-bottom: 100px;
}
.section2 img {
  max-width: 55%;
}
.interactive {
  background-color: white;
  width: 1000px;
  font-size: large;
  position: relative;
  top: 230px;
  right: 140px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 50px;
  padding-bottom: 60px;
  height: 200px;
  margin-bottom: 40px;
}
.interactive p {
  margin-top: 20px;
}

/* SECTION 3 */
.topdiv3 {
  display: flex;
}
.topdiv3 a {
  border: 1px solid black;
  margin-left: 850px;
  padding-left: 20px;
  padding-right: 20px;
  height: 20px;
  text-decoration: none;
  color: black;
  margin-top: 10px;
}

.middiv3 {
  margin-top: 20px;
  display: flex;
  color: white;
}

.middiv3 h2 {
  position: relative;
  bottom: 120px;
  left: 45px;
  width: 40%;
}
#na {
  margin-left: 32px;
}
#stv {
  margin-left: 32px;
}
#tg {
  margin-left: 33px;
}
.btmdiv3 {
  display: flex;
  color: white;
}
.btmdiv3 h2 {
  position: relative;
  bottom: 120px;
  left: 45px;
  width: 40%;
}
#pb {
  margin-left: 32px;
}
#tc {
  margin-left: 32px;
}
#mif {
  margin-left: 33px;
}
footer {
  background-color: black;
  color: white;
}
.ft {
  display: flex;
}
.rtft {
  margin-left: 600px;
  margin-top: 10px;
}
.rtft p {
  margin-top: 40px;
}
.rtft a {
  color: white;
}
.ltft a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  padding-right: 10px;
}
.ltft nav {
  margin-top: 40px;
}
.socials {
  margin-left: 140px;
}
.socials a {
  padding-right: 20px;
}

@media (max-width: 425px) {
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  /*  */
  label {
    display: block;
    cursor: pointer;
    margin-left: 80px;
  }
  .menu {
    text-align: center;
    /* width: 100px; */
    display: none;
    
  }
  .menu a {
    display: block;
    border-bottom: 1px solid white;
    margin: 0;
    
  }
  #toggle:checked + .menu {
    display: block;
    
  }
  .topdiv1 nav {
    margin: 0px;
    /* margin-right: 400px; */
  }
  /*  */

  .bottomdiv1 {
    border: 2px solid white;
    color: white;
    width: 80%;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 150px;
    margin-bottom: 150px;
  }
  .section2 {
    display: block;
    /* margin-top: 45px;
    margin-bottom: 100px; */
  }
  .section2 img {
    max-width: 100%;
  }
  .interactive {
    background-color: white;
    width: 80%;
    font-size: 15px;
    text-align: center;
    position: static;
    height: 100px;
  }

  .topdiv3 {
    display: block;
  }
  .topdiv3 h1 {
    text-align: center;
  }
  .topdiv3 a {
    text-align: center;
    width: 600px;
    position: relative;
    left: 100px;
    top: 4050px;
    margin: 0px;
   
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: larger;
    /* padding: 20px; */

  }

  .middiv3 {
    display: block;
  }
  .middiv3 img {
    margin-left: 40px;
  }
  #na {
    margin-left: 0px;
  }
  #stv {
    margin-left: 0px;
  }
  #tg {
    margin-left: 0px;
  }
  .btmdiv3 {
    display: block;
  }
  .btmdiv3 img {
    margin-left: 40px;
  }
  #pb {
    margin-left: 0px;
  }
  #tc {
    margin-left: 0px;
  }
  #mif {
    margin-left: 0px;
  }



  .ft {
    display: block;
  }

  .rtft {
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
    line-height: 50px;
  }
  .rtft p {
    margin-top: 0px;
  }
  .rtft a {
    color: white;
  }
  .ltft {
    text-align: center;
  }
  .ltft a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    display: block;
    line-height: 50px;
  }
  .ltft nav {
    margin-top: 20px;
  }
  .socials {
    margin-left: 0px;
  }
  .socials a {
    padding-right: 20px;
  }
}
 @media (max-width: 375px) {
  label {
    display: block;
    cursor: pointer;
    margin-left: 30px;
  }
   
   .middiv3 img {
    margin-left: 20px;
  }
  .btmdiv3 img{
    margin-left: 20px;
  }

  .topdiv3 a {
    left: 75px;
    }

}



@media (max-width: 320px) {
  label {
    display: block;
    cursor: pointer;
    margin-left: 0px;
  }
  
  .interactive{
    width: 75%;
    height: 150px;
  }

  .topdiv3 a {
   
    left: 56px;
    top: 4110px;
  }

  .middiv3 img {
    margin-left: 0px;
  }
  .btmdiv3 img{
    margin-left: 0px;
  }
  .rtft p {
    font-size: 12px;
  }

  .middiv3 h2 {
    position: relative;
    bottom: 100px;
    left: 20px;
    width: 40%;
  }

  .btmdiv3 h2{
    position: relative;
    bottom: 100px;
    left: 20px;
    width: 40%;
  }


}
